<footer class="bg-dark text-white text-center py-3 mt-4">
    <h4>NOVEMBER MOON.COM</h4>
    <img src="assets/foot1.jpg" class="img-fluid">
    <ul class="list-inline">
      <li class="list-inline-item"><a href="/home" class="text-white">Home</a></li>
      <li class="list-inline-item"><a href="/menu" class="text-white">Menu</a></li>
      <li class="list-inline-item"><a href="/booking" class="text-white">Booking</a></li>
      <li class="list-inline-item"><a href="/ambiance" class="text-white">Ambiance</a></li>
      <li class="list-inline-item"><a href="/contact" class="text-white">Contact</a></li>
    </ul>
    <p>Copyright &copy; 2024 All rights reserved by NOVEMBER MOON</p>
  </footer>