<!-- content.component.html -->
<section class="container mt-4">
    <h2 id="cap">Menu</h2>
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <img class="card-img-top" src="assets/dishes.jpg" alt="Main Dishes">
          <div class="card-body">
            <h4>Main Courses</h4>
            <ul>
              <li>Idly - ₹20</li>
              <li>Dosa - ₹30</li>
              <li>Pongal - ₹30</li>
              <li>Chappathi - ₹40</li>
              <li>Poori  -  ₹40</li>
              <li>Veg Meal  -  ₹120</li>
              <li>Non-Veg Meal  -  ₹200</li>
              <li>Veg-Biriyani -  ₹90</li>
              <li>Kizhi-Biriyani -  ₹180</li>
              <li>Mushroom-Biriyani -  ₹150</li>
              <li>Chicken-Biriyani  -  ₹150</li>
              <li>Mutton-Biriyani  -  ₹200</li>
              <li>Fish-Biriyani  -  ₹180</li>
              <li>Prawn-Biriyani  -  ₹180</li>
              <li>Veg-Friedrice -  ₹100</li>
              <li>Chicken-Friedrice -  ₹120</li>
              <li>Panner-Friedrice -  ₹120</li>
              <li>Veg-Noodles -  ₹100</li>
              <li>Chicken-Noodles -  ₹120</li>
              <li>Panner-Noodles -  ₹120</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <img class="card-img-top" src="assets/chic.jpg" alt="Starter Dishes">
          <div class="card-body">
            <h4>Starter Dishes</h4>
            <ul>
              <li>Gobi 65 - ₹60</li>
              <li>Gobi Manchurian - ₹60</li>
              <li>Panner Buttermasala -  ₹80</li>
              <li>Panner 65 -  ₹60</li>
              <li>Panner Pepper Fry -  ₹60</li>
              <li>Chicken 65  -  ₹80</li>
              <li>Mutton Pepper Fry -  ₹150</li>
              <li>Chicken Pepper Fry -  ₹100</li>
              <li>Prawn Masala  -  ₹120</li>
              <li>Fish Fry  -  ₹80</li>
              <li>Chicken Manchurian -  ₹120</li>
              <li>Chilly Chicken -  ₹150</li>
              <li>Grill Chicken -  ₹200</li>
              <li>Chickrn Tandoori -  ₹400</li>
              <li>Dragoon Chicken -  ₹150</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <img class="card-img-top" src="assets/tea.jpg" alt="Tea & Coffee">
          <div class="card-body">
            <h4>Tea & Coffee</h4>
            <ul>
              <li>Tea  -  ₹12</li>
              <li>Coffee  -  ₹15</li>
              <li>Milk  -  ₹15</li>
              <li>Masala Tea -  ₹20</li>
              <li>Ginger Tea -  ₹15</li>
              <li>Green Tea  -  ₹15</li>
              <li>Black Tea  -  ₹10</li>
              <li>Filter Coffe  -  ₹20</li>
              <li>Black Coffee  -  ₹10</li>
              <li>Badam Milk -  ₹20</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <img class="card-img-top" src="assets/juice.jpg" alt="Drinks">
          <div class="card-body">
            <h4>Drinks</h4>
            <ul>
              <li>Apple  -  ₹50</li>
              <li>Orange  -  ₹50</li>
              <li>Watermelon -  ₹50</li>
              <li>Kiwi -  ₹50</li>
              <li>Mango -  ₹50</li>
              <li>Pineapple  -  ₹50</li>
              <li>Fig  -  ₹50</li>
              <li>Banana Milkshake  -  ₹70</li>
              <li>Mango Milkshake  -  ₹80</li>
              <li>Strawberry Milkshake -  ₹80</li>
              <li>Chocolate Milkshake -  ₹80</li>
              <li>Lemon Soda -  ₹30</li>
              <li>Classic Mint Mojito -  ₹70</li>
              <li>Rose Milk -  ₹50</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  