<div class="container text-center mt-4">
    <h2>Ambiance</h2>
    
    <div class="row">
      <div class="col-md-6 col-lg-4 mb-3">
        <img src="assets/ra.jpg" class="img-fluid rounded shadow" alt="Ambiance 1">
      </div>
      <div class="col-md-6 col-lg-4 mb-3">
        <img src="assets/ra2.jpg" class="img-fluid rounded shadow" alt="Ambiance 2">
      </div>
      <div class="col-md-6 col-lg-4 mb-3">
        <img src="assets/ra3.jpg" class="img-fluid rounded shadow" alt="Ambiance 3">
      </div>
      <div class="col-md-6 col-lg-4 mb-3">
        <img src="assets/ra4.jpeg" class="img-fluid rounded shadow" alt="Ambiance 4">
      </div>
      <div class="col-md-6 col-lg-4 mb-3">
        <img src="assets/tining.jpg" class="img-fluid rounded shadow" alt="Dining">
      </div>
      <div class="col-md-6 col-lg-4 mb-3">
        <img src="assets/booking.jpg" class="img-fluid rounded shadow" alt="Booking">
      </div>
      <div class="col-md-6 col-lg-4 mb-3">
        <img src="assets/ra5.jpg" class="img-fluid rounded shadow" alt="Ambiance 5">
      </div>
      <div class="col-md-6 col-lg-4 mb-3">
        <img src="assets/ra6.jpg" class="img-fluid rounded shadow" alt="Ambiance 6">
      </div>
      <div class="col-md-6 col-lg-4 mb-3">
        <img src="assets/c.jpg" class="img-fluid rounded shadow" alt="Ambiance 6">
      </div>
    </div>
  </div>
  