<section class="container text-center my-4">
    <h2>What Would You Like To Have?</h2>
  </section>
  
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h4>For You</h4>
        <div class="row">
          <div class="col-md-4"><img src="assets/p.jpg" class="img-fluid"><p>Porotta</p></div>
          <div class="col-md-4"><img src="assets/cb.jpg" class="img-fluid"><p>Biriyani</p></div>
          <div class="col-md-4"><img src="assets/ct.jpg" class="img-fluid"><p>Tandoori</p></div>
        </div>
      </div>
      <div class="col-md-12">
        <h4>Top Rated</h4>
        <div class="row">
          <div class="col-md-4"><img src="assets/kb.jpeg" class="img-fluid"><p>Kizhi Biriyani</p></div>
          <div class="col-md-4"><img src="assets/mb.jpeg" class="img-fluid"><p>Mutton Biriyani</p></div>
          <div class="col-md-4"><img src="assets/meals.jpeg" class="img-fluid"><p>Veg Meals</p></div>
        </div>
      </div>
    </div>
  </div>
  