<section class="container mt-4">
    <h2>Booking</h2>
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="assets/tining.jpg" class="card-img-top" alt="Couple Tining">
          <p>Couple Dining</p>
        </div>
      </div>
  
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="assets/family.jpg" class="card-img-top" alt="Family Tining">
          <p>Family Dining</p>
        </div>
      </div>
  
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="assets/party.jpeg" class="card-img-top" alt="Party Tining">
          <p>Party Dining</p>
        </div>
      </div>
      <div class="d-grid gap-2 d-md-block">
        <a href="bform.html" class="btn btn-primary btn-lg" routerLink="/book">Book Now</a>
      </div>
    </div>
  </section>
  